apiVersion: apps/v1
kind: Deployment
metadata:
  name: browser-sync-coturn
  labels:
    app: browser-sync-coturn
spec:
  replicas: 2
  selector:
    matchLabels:
      app: browser-sync-coturn
  template:
    metadata:
      labels:
        app: browser-sync-coturn
    spec:
      containers:
        - name: coturn
          image: coturn/coturn:4.6.2
          args:
            - "-c"
            - "/etc/coturn/turnserver.conf"
            - "--min-port"
            - "49160"
            - "--max-port"
            - "49200"
          volumeMounts:
            - mountPath: /etc/coturn/turnserver.conf
              subPath: turnserver.conf
              name: turn-config
          ports:
            - name: turn-udp
              containerPort: 3478
              protocol: UDP
            - name: turn-tcp
              containerPort: 3478
              protocol: TCP
            - name: turns-tcp
              containerPort: 5349
              protocol: TCP
      volumes:
        - name: turn-config
          configMap:
            name: browser-sync-turn-config
---
apiVersion: v1
kind: Service
metadata:
  name: browser-sync-coturn
spec:
  type: LoadBalancer
  selector:
    app: browser-sync-coturn
  ports:
    - name: turn-udp
      port: 3478
      targetPort: turn-udp
      protocol: UDP
    - name: turn-tcp
      port: 3478
      targetPort: turn-tcp
      protocol: TCP
    - name: turns-tcp
      port: 5349
      targetPort: turns-tcp
      protocol: TCP
